<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dgut.music_online.dao.SongDao">
    <insert id="insertSong" parameterType="com.dgut.music_online.domain.Song">
        insert into `schema`.song (id, type, url, name)
        values (null, #{type}, #{url}, #{name})
    </insert>
    <delete id="deleteSongById">
        delete from `schema`.song where id = #{id}
    </delete>

    <resultMap id="songResultMap" type="com.dgut.music_online.domain.Song">
        <id property="id" column="id" />
        <result property="type" column="type"/>
        <result property="url" column="url"/>
        <result property="name" column="name" />
    </resultMap>

    <select id="getAllSongs" resultMap="songResultMap">
         select * from `schema`.song
    </select>

    <select id="getSongsByPages" resultMap="songResultMap">
        select * from `schema`.song limit #{pages}, #{number}
    </select>

    <select id="getSongById" parameterType="int" resultType="com.dgut.music_online.domain.Song">
        select * from `schema`.song where id = #{id}
    </select>
</mapper>